TermProject/Web References/EventService/WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEventAgencies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventAgenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventAgenciesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="agencyID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="myEvent" type="tns:Event" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Event">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Activity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Venue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindEventsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EventID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReserveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEventAgenciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventAgencies" />
  </wsdl:message>
  <wsdl:message name="GetEventAgenciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventAgenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="GetEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="FindEventsSoapIn">
    <wsdl:part name="parameters" element="tns:FindEvents" />
  </wsdl:message>
  <wsdl:message name="FindEventsSoapOut">
    <wsdl:part name="parameters" element="tns:FindEventsResponse" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapIn">
    <wsdl:part name="parameters" element="tns:Reserve" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapOut">
    <wsdl:part name="parameters" element="tns:ReserveResponse" />
  </wsdl:message>
  <wsdl:portType name="WSSoap">
    <wsdl:operation name="GetEventAgencies">
      <wsdl:input message="tns:GetEventAgenciesSoapIn" />
      <wsdl:output message="tns:GetEventAgenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input message="tns:GetEventsSoapIn" />
      <wsdl:output message="tns:GetEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindEvents">
      <wsdl:input message="tns:FindEventsSoapIn" />
      <wsdl:output message="tns:FindEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <wsdl:input message="tns:ReserveSoapIn" />
      <wsdl:output message="tns:ReserveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSoap" type="tns:WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventAgencies">
      <soap:operation soapAction="http://tempuri.org/GetEventAgencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://tempuri.org/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEvents">
      <soap:operation soapAction="http://tempuri.org/FindEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSoap12" type="tns:WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEventAgencies">
      <soap12:operation soapAction="http://tempuri.org/GetEventAgencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap12:operation soapAction="http://tempuri.org/GetEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindEvents">
      <soap12:operation soapAction="http://tempuri.org/FindEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap12:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS">
    <wsdl:port name="WSSoap" binding="tns:WSSoap">
      <soap:address location="http://cis-iis2.temple.edu/fall2014/cis3342_tuc72616/TermProjectWS/WS.asmx" />
    </wsdl:port>
    <wsdl:port name="WSSoap12" binding="tns:WSSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/fall2014/cis3342_tuc72616/TermProjectWS/WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>